
/*  debug   

*
{ 
    background: rgba(0 0 100 / 0.5 )
}
*/

@font-face
{
    font-family: 'roboto' ;
    src: url('fonts/roboto/Roboto-Regular.ttf');
    /*font-weight: normal;*/
    /*font-style: normal;*/
}

@font-face
{
    font-family: 'shrikhand';
    src: url('fonts/shrikhand/Shrikhand-Regular.otf');
}

/*GLOBAL*/

/*Violet : #9356DC    */
/*Rose : #FF79DA  */
/*Vert : #99E2D0    */

*
{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

h1
{
    font-family: 'shrikhand',Arial, Helvetica, sans-serif;
}

a
{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;

}

.maj-accent
{
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

body
{
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img
{
    max-height: 500px;
    max-width: 500px;
}

/*loading screen*/

.ecran-chargement
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
    opacity: 0.75;
}

.conteneur-chargement       /*barre de chargement*/
{
    width: 80%;
    height: 40px;
    border: 1px solid #068061;
    animation: progress 50ms 2000ms both;           /*durée affichage barre de chargement*/
}

@keyframes progress
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

.barre-chargement
{
    height: -webkit-fill-available;
    margin: 0;
    background-color: #99E2D0;
    animation: loading-bar 2000ms 50ms both;        /*temps du chargement*/
    transform: scaleX(0.5);
    transform-origin: 0% 50%;
}

@keyframes loading-bar      /*effet du chargement*/
{
    0%
    {
        transform: scaleX(0);
    }
    17%
    {
        transform: scaleX(0.18);
    }
    24%
    {
        transform: scaleX(0.4);
        animation-timing-function: cubic-bezier(.9,0,.1,1);
    }
    60%
    {
        transform: scaleX(0.81);
        animation-timing-function: cubic-bezier(.25,0.25,1);
    }
    100%
    {
        transform: scaleX(1);
    }   
}

.bloc-page
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
        /*délai apparition bloc-page*/
    animation: bloc-page 1200ms 1050ms both;
    /*animation: bloc-page 20ms 50ms both;       affichage rapide*/

    display: grid;      
    grid-template-rows: auto auto 1fr auto;     /*sticky footer grandes résolutions*/
    grid-template-columns: 100%;
}

@keyframes bloc-page
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 0.5;
    }
    100%
    {
        opacity: 1;
    }
}

/*Header*/

.header
{
    text-align: center;
}

.logo-header
{
    line-height: 2em;
    margin: 0;
}

.emplacement
{
    background-color: #EAEAEA;
    background: linear-gradient(0deg, rgba(234,234,234,1) 88%, rgba(200,200,200,1) 100%);
}

.emplacement input
{
    line-height: 40px;
    font-weight: bold;
    opacity: 0.8;
    margin: 0;
    background: transparent;
}

.search-box
{
    border: none;
}

/*Navigation*/

.nav
{
    background-color: #f6f6f6;
    text-align: center;
    padding: 35px;
}

.titres h2
{
    padding-left: 5%;
    padding-right: 5%;
}

.explorer
{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 220px;
    border-radius: 25px;
    line-height: 50px;
    background: -webkit-linear-gradient(270deg ,#FF79DA, #9356DC);
}

.explorer:hover
{
    opacity: 0.6;
}

.lien-interne
{
    color: white;
}

/*SECTION*/


/*SECTION Information*/

.information
{
    padding-bottom: 50px;
    padding-top: 50px;
    padding: 20px;
}
.titre-fonctionnement     /*titre Aside*/
{
    margin: auto;
    margin-bottom: 40px;
    max-width: 300px;
    padding-left: 10px;
}

.boites-fonctionnement
{
    counter-reset: info;                    /* On initialise le compteur à 0 */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
}

.boite-fonctionnement
{
    
    width: 300px;
    height: 60px;
    margin: auto;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.10);
}

.texte-fonctionnement
{
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


.texte-fonctionnement::before
{
    counter-increment: info;        /* On incrémente le compteur*/
    content: counter(info);         /* On affiche le compteur */
    vertical-align: bottom;
    display: inline-block;
    color: white;
    font-size: small;
    font-weight: normal;
    background-color: #9356DC;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    position: relative;
    left: -48px;
}


.icones-fonctionnement
{
    padding-right: 20px;
}

.boite-fonctionnement:hover
{
    background: rgba(147, 86, 220, .3);
}

.boite-fonctionnement:hover .icones-fonctionnement
{
    color: #9356DC;
}

/*SECTION Restaurants*/

.liste-restaurants
{
    background-color: #f6f6f6;
}

.titre-restaurants
{
    /*margin: auto;*/
    margin-bottom: 30px;
    padding-top: 40px;
    max-width: 470px;
    padding-left: 30px;

}

.cartes-restaurants
{
    display: grid;
    padding-bottom: 50px;
}

.vignette-restaurant
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    max-width: 500px;
    width: 90%;
    height: 250px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.10);
    scale: 1;
    transition-duration: 200ms;
}

.vignette-restaurant:hover
{
    scale: 1.10;
    transition-duration: 200ms;
}

.vignette-restaurant img
{
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.vignetteflex
{
    display: flex;
    justify-content: space-between;
    height: 30%;
    width: 100%;
}

.description-vignette
{
    padding: 5px;
}

.overflow
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-vignette       /*trouver class = nom resto + lieu*/
{
    margin: auto;
    padding-left: 20px;
    line-height: 25px;
}

/*"Bouton" like*/

.favoris
{
    margin-left: auto;
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: auto;    
}

.unlike
{
    font-size: 25px;
    color: black;
}

.like
{
    font-size: 25px;

    background: -webkit-linear-gradient(0deg ,#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    left: -29px;    /* =25+4px entre les 2 BFA quel que soit la taille de l'élément */
    transform: scale(0);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.favoris:hover .like
{
    transform: scale(1);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

/*Nouveaux Restaurants*/

    /*Ajouter class nouveau apres class favoris */

.nouveau::before
{
    /*display: inline;*/
    overflow: hidden;
    content: "Nouveau";
    background-color: #99E2D0;
    font-size: small;
    font-weight: bold;
    color: #068061;
    width: max-content;
    padding: 6px;
    position: relative;
    top: -190px;
    left: 30px;
    pointer-events: none;   /*pour désactiver le hover sur l'élément*/
}


/*FOOTER*/

footer *
{
    color: white;
}

footer
{
    background-color: #353535;
    padding-left: 20px;
    height: 200px;
}

.logo-footer
{
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lien-utile
{
    line-height: 30px;
    margin: 0;
}

.icone-footer
{
    width: 30px;
}