@font-face
{
    font-family: 'roboto' ;
    src: url('fonts/roboto/Roboto-Regular.ttf');
    /*font-weight: normal;*/
    /*font-style: normal;*/
}

@font-face
{
    font-family: 'shrikhand';
    src: url('fonts/shrikhand/Shrikhand-Regular.otf');
}

/*GLOBAL*/

/*Rose : #9356DC*/
/*Violet : #FF79DA*/
/*Vert : #99E2D0*/

*
{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

a   /*vérifier si il faut l'appliquer partout*/
{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;

}

h1
{
    font-family: 'shrikhand',Arial, Helvetica, sans-serif;
}

body
{
    margin: 0;
}

img
{
    max-height: 500px;
    max-width: 500px;
}

/*Header*/
.header
{
    text-align: center;
}
.logo-header
{
    line-height: 2em;
    margin: 0;
}

.emplacement *
{
    line-height: 40px;
    margin: 0;
    background-color: #EAEAEA;
}

/*Navigation*/

.nav
{
    background-color: #f6f6f6;
    text-align: center;
    padding: 10%;
}

.titres h2
{
    padding-left: 5%;
    padding-right: 5%;
}

.lien
{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 220px;
    background-color: #9356dc;
    border-radius: 25px;
    line-height: 50px;
}

.lien a
{
    color: white;
}
/*SECTION*/

.conteneur
{

}
/*SECTION Information*/

.information
{
    padding-bottom: 50px;
    padding-top: 50px;
    /*display: flex;
    flex-direction: column;*/
}
.information h2
{
    margin: 0;
    padding-left: 30px;
}

.box
{
    width: 300px;
    height: 60px;
    margin: auto;
    line-height: 60px;
    background-color: #f6f6f6;
    text-align: center;
    border-radius: 20px;    
}



/*SECTION Restaurants*/

.restaurants
{
    background-color: #f6f6f6;
}
.restaurants h2
{
    margin: 0;
}

.cards
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}
.card
{
    background-color: white;
    width: 90%;
    height: 250px;
    margin: auto;
    border-radius: 20px;
    
}

.card img
{
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cardflex
{
    display: flex;
    justify-content: space-between;
    height: 30%;
    width: 100%;
}
.desc
{
    padding: 5px;
}
.desc *
{
    margin: auto;
    padding-left: 20px;
    line-height: 25px;
}
.like
{
    font-size: 25px;
    padding: 20px;
}


/*FOOTER*/

footer
{
    background-color: #353535;
}

footer a
{
    color: white;
}
