/*Modification design aside "fonctionnement"*/
.titre-fonctionnement
{
    padding: 0;
    text-align: center;
}

.cartes-restaurants
{
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    grid-column-gap: 2px;
    grid-row-gap: 0px;
}

