@font-face
{
    font-family: 'roboto' ;
    src: url('fonts/roboto/Roboto-Regular.ttf');
    /*font-weight: normal;*/
    /*font-style: normal;*/
}

@font-face
{
    font-family: 'shrikhand';
    src: url('fonts/shrikhand/Shrikhand-Regular.otf');
}

/*GLOBAL*/

/*Rose : #9356DC    */
/*Violet : #FF79DA  */
/*Vert : #99E2D0    */

*
{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

a   /*vérifier si il faut l'appliquer partout*/
{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;

}

h1
{
    font-family: 'shrikhand',Arial, Helvetica, sans-serif;
}

body
{
    margin: 0;    
}

img
{
    max-height: 500px;
    max-width: 500px;
}





/*Header*/

.header
{
    text-align: center;
}
.logo-header
{
    line-height: 2em;
    margin: 0;
}

.emplacement p
{
    line-height: 40px;
    margin: 0;
    background-color: #EAEAEA;
}

.emplacement i 
{
    padding-right: 15px;
}



/*Navigation*/

.nav
{
    background-color: #f6f6f6;
    text-align: center;
    padding: 10%;
}

.titres h2
{
    padding-left: 5%;
    padding-right: 5%;
}

.lien
{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 220px;
    background-color: #9356dc;
    border-radius: 25px;
    line-height: 50px;
}

.lien a
{
    color: white;
}
/*SECTION*/

.conteneur
{

}
/*SECTION Information*/

.information
{
    padding-bottom: 50px;
    padding-top: 50px;
    /*display: flex;
    flex-direction: column;*/
}
.information h2
{
    margin: 0;
    padding-left: 20px;
    margin-bottom: 40px;
}

.box
{
    width: 300px;
    height: 60px;
    margin: auto;
    line-height: 60px;
    background-color: #f6f6f6;
    border-radius: 10px;    
}

.box p::before
{
    content: "1";
    color: white;
    width: min-content;
    background-color: #9356dc;
    border-radius: 15px;
    /*
    position: relative;
    top: 5px;
    left: -10px;
    */
    
}



.box i
{
    padding-left: 30px;
    padding-right: 20px;
}


/*SECTION Restaurants*/

.restaurants
{
    background-color: #f6f6f6;
}
.restaurants h2
{
    margin: 0;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-left: 20px;
}

.cards
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}
.card
{
    background-color: white;
    max-width: 500px;
    width: 90%;
    height: 250px;
    margin: auto;
    border-radius: 20px;
    
}

.card img
{
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card::after
{
    content: "Nouveau";
    font-size: small;
    font-weight: bold;
    display: block;
    color: #068061;
    width: min-content;
    padding: 5px;
    background-color: #99E2D0;
    /*
    position: relative;
    top: -240px;
    left: 260px;
    */

}

.cardflex
{
    display: flex;
    justify-content: space-between;
    height: 30%;
    width: 100%;
}
.desc
{
    padding: 5px;
}
.desc *
{
    margin: auto;
    padding-left: 20px;
    line-height: 25px;
}
.like
{
    font-size: 25px;
    padding: 20px;
}


/*FOOTER*/

footer
{
    background-color: #353535;
    padding-left: 20px;
    height: 200px;
}

footer a
{
    color: white;
}

footer h1
{
    font-size: larger;
}

footer p
{
    line-height: 1.8em;
}