
/*Modification design menu */
.conteneur
{
    padding-bottom: 30px;
}

.tableau
{
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 4%;
}
.submit
{
    display: flex;
    align-items: flex-end;
}