@font-face
{
    font-family: 'roboto' ;
    src: url('fonts/roboto/Roboto-Regular.ttf');
    /*font-weight: normal;*/
    /*font-style: normal;*/
}

@font-face
{
    font-family: 'shrikhand';
    src: url('fonts/shrikhand/Shrikhand-Regular.otf');
}

/*GLOBAL*/
*
{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

h1
{
    font-family: 'shrikhand',Arial, Helvetica, sans-serif;
}

.card-future
{
    display: none;
}

img
{
    max-width: 500px;
    max-height: 500px;
}

body
{
    margin: 0;    
}

a   /*vérifier si il faut l'appliquer partout*/
{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
}

.maj-accent
{
    margin: 0px;
    text-transform: uppercase;
}


/*Header*/

.logo-header
{
    text-align: center;
}

.retour-index
{
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: x-large;
}

.background img
{
    object-fit: cover;
    width: 100%;
    height: 250px;
}

/*ARTICLE : le menu*/

.conteneur
{
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    background-color: #F6F6F6;
    /*position: relative;
    top: -50px; */
}

/*article - titre (restaurant)*/

.restaurant
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.favoris
{
    font-size: x-large;
}

/*article - menu*/

.menu
{
    margin: 20px;
    margin-bottom: 0;
}

.titre
{
    text-transform: uppercase;
    font-size: medium;
    font-weight: normal;
    margin-bottom: 16px;
}

.titre::after
{
    content: "";
    display: block;
    background-color: #99E2D0;
    width: 40px;
    height: 3px;
    margin-top: 5px;
}

/*liste des plats*/

.card
{
    background-color: white;
    border-radius: 20px;
    display: flex;
    max-width: 400px;
    margin-bottom: 10px;
   overflow: hidden;
}

h3, p
{
    font-size: medium;
    margin: 10px;
}

.overflow
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prix
{
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    padding-right: 20px;
    padding-bottom: 10px;
}

.prix p
{
    margin: 0;
}

.check
{
    /*display: none;*/
    min-width: 60px;
    background: #99e2d0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -61px;
}

.selection
{
    font-size: 25px;
    color: white;
}

.card:hover .check      /*fonctionne seulement avec les enfants direct ?*/
{
    margin-right: 0px;
    transition-duration: 500ms;
}

.card:hover .selection
{
    transform: rotate(360deg);
    transition-delay: 100ms;
    transition-duration: 500ms;
}

/*Bouton Commander*/

.submit
{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 40px;
}

input[type=submit]
{
    width: 150px;
    font-size: 16px;
    padding: 15px;
    background: #9356DC;
    border: 0 none;
    cursor: pointer;
    color: white;
    border-radius: 25px;
}

/*FOOTER*/

footer
{
    background-color: #353535;
    padding-left: 20px;
    height: 200px;
}

.logo-footer
{
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer a
{
    color: white;
}


footer p
{
    line-height: 1.8em;
    margin: 0;
}
footer i
{
    width: 30px;
}